<div class="main-content">
  <br>
  <div class="welcome-card">
    <h4>Bienvenido al Panel de Administrador</h4>
    <p>De Reciclaje Hub</p>
  </div>


  <!-- Sección de Información -->
  <div class="info-section">
    <a class="info-card" href="#about">
      <i class="fas fa-info-circle info-icon"></i>
      <h6>Acerca de</h6>
      <p>Conoce más sobre el sistema y su funcionamiento.</p>
    </a>
    <a class="info-card" href="#faq">
      <i class="fas fa-question-circle info-icon"></i>
      <h6>Preguntas Frecuentes</h6>
      <p>Consulta nuestras preguntas frecuentes para obtener respuestas rápidas.</p>
    </a>
    <a class="info-card" href="#support">
      <i class="fas fa-headset info-icon"></i>
      <h6>Soporte</h6>
      <p>Contacta con el soporte para resolver cualquier inconveniente.</p>
    </a>
    <a class="info-card" href="#terms">
      <i class="fas fa-file-contract info-icon"></i>
      <h6>Términos y Condiciones</h6>
      <p>Revisa los términos y condiciones de uso del sistema.</p>
    </a>
  </div>
  <!-- Tarjeta del Panel de Control -->
  <div class="info-card panel-card" style="background: linear-gradient(135deg, #004d40, #388e3c);">
    <div>
      <strong>
        <h4>Panel de Control</h4>
      </strong>
    </div>
    <ul class="collapsible">
      <li>
        <div class="collapsible-header" style="display: flex; justify-content: center; align-items: center;">
          <span class="title" style="color: #388e3c; margin-left: 10px;">Centros de Acopio</span>
        </div>

        <div class="collapsible-body">
          <ul>
            <li><a href="#centrosacopios">Ver Centros</a></li>
            <li><a href="#nuevocentro">Agregar Nuevo</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="collapsible-header" style="display: flex; justify-content: center; align-items: center;">
          <span class="title" style="color: #388e3c; margin-left: 10px;">Usuarios</span>
        </div>
        <div class="collapsible-body">
          <ul>
            <li><a href="#usuarios">Lista de Usuarios</a></li>
            <li><a href="#nuevousuario">Agregar Usuario</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="collapsible-header" style="display: flex; justify-content: center; align-items: center;">
          <span class="title" style="color: #388e3c; margin-left: 10px;">Rutas</span>
        </div>
        <div class="collapsible-body">
          <ul>
            <li><a href="#ver-rutas">Ver Rutas</a></li>
            <li><a href="#nueva-ruta">Agregar Nueva Ruta</a></li>
          </ul>
        </div>
      </li>

      <li>
        <div class="collapsible-header" style="display: flex; justify-content: center; align-items: center;">
          <span class="title" style="color: #388e3c; margin-left: 10px;">Municipios</span>
        </div>
        <div class="collapsible-body">
          <ul>
            <li><a href="#ver-municipios">Ver Municipios</a></li>
            <li><a href="#nuevo-municipio">Agregar Municipio</a></li>
          </ul>
        </div>
      </li>

      <li>
        <div class="collapsible-header" style="display: flex; justify-content: center; align-items: center;">
          <span class="title" style="color: #388e3c; margin-left: 10px;">Camiones</span>
        </div>
        <div class="collapsible-body">
          <ul>
            <li><a href="#ver-camiones">Ver Camiones</a></li>
            <li><a href="#nuevo-camion">Agregar Camión</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

</div>