<style>
    .container {
        margin-top: 50px;
        max-width: 400px;
    }

    .logo {
        font-size: 50px;
        /* Tamaño del icono */
        color: #43a047;
        /* Color verde del icono */
        text-align: center;
        /* Centrado */
        margin-bottom: 10px;
        /* Espacio debajo del icono */
    }

    .input-field i {
        color: #43a047;
    }

    .btn {
        background-color: #43a047;
    }

    .text-link a {
        color: #42a5f5;
        text-decoration: none;
    }

    .text-link a:hover {
        text-decoration: underline;
    }

    .separator {
        margin-top: 20px;
    }
</style>

<div class="container z-depth-3 white">
    <div class="row">
        <!-- Icono de reciclaje en tamaño large -->
        <div class="logo center-align">
            <i class="material-icons large">recycling</i>
        </div>
        <!-- Título -->
        <h5 class="center-align">Iniciar Sesión</h5>
        <div class="col s12">
            <!-- El form ahora envuelve todos los elementos -->
            <form *ngIf="formLogin" [formGroup]="formLogin" (ngSubmit)="onIniciarSesion()">
                <!-- Campo de correo -->
                <div class="input-field">
                    <i class="material-icons prefix">email</i>
                    <input id="CorreoUsu" type="email" formControlName="CorreoUsu" name="Correo" required>
                    <label for="CorreoUsu">Correo</label> <!-- Corrige el 'for' -->
                </div>
                <!-- Campo de contraseña -->
                <div class="input-field">
                    <i class="material-icons prefix">lock</i>
                    <input id="Clave" type="password" formControlName="Clave" required>
                    <!-- Agregado formControlName -->
                    <label for="Clave">Contraseña</label> <!-- Corrige el 'for' -->
                </div>
                <!-- Botón de inicio de sesión -->
                <div class="col s12 row-buttons">
                    <a id="download-button" (click)="onIniciarSesion()" class=" waves-effect waves-light btn">Iniciar
                        Sesión</a>
                </div>
            </form>
            <!-- Separación con enlaces -->
        </div>
    </div>
</div>
<!-- Modal para mostrar mensajes -->
<div id="miModal" #modalElement class="modal">
    <div class="modal-content">
        <h4>Inicio de Sesión</h4>
        <p>{{mensaje}}.</p>
    </div>
    <div class="modal-footer">
        <button (click)="closeModal()" class="modal-close waves-effect waves-green btn-flat">Cerrar</button>
    </div>
</div>



<!-- Importar Materialize CSS -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">