<div class="container">
  <div class="card card-custom center-align">
    <div class="card-content">
      <!-- Icono arriba del título -->
      <i class="large material-icons" style="color: #5cf100;">directions</i>
      <span class="card-title card-title-small">Rutas</span>
      <p class="card-description">Lista de Rutas con sus respectivos camiones.</p>
    </div>
  </div>


  <ul class="collection">
    <li class="collection-item avatar" *ngFor="let Rutas of dRutas">
      <div class="municipio-item">
        <a class="large material-icons" style="color: #5cf100;">directions</a>
  
        <!-- Encabezado para Nombre Ruta -->
        <div class="municipio-info">
          <h4>Nombre Ruta:</h4>
          <span class="title">{{ Rutas.NombreRuta }}</span>
        </div>
  
        <!-- Encabezado para Guía -->
        <div class="ruta-info">
          <h4>Guía:</h4>
          <span class="guia-text">{{ Rutas.Guia }}</span>
        </div>

        <!-- Icono de camiones -->
        <div class="iconos-derecha">
          <a (click)="onVerCamiones(Rutas.RutaId)" class="material-icons icono icono-animado ">
            local_shipping
          </a>
        </div>
      </div>
    </li>
  </ul>
  
</div>