<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">



<div class="section no-pad-bot" id="index-banner">
  <div class="container-fluid" style="padding-left:100px; padding-right:100px">
    <p class="center">
      <img width="300" src="assets/logo_bioestacion.png" alt="">
    </p>
    <h3 class="header center" style="color: #5cf100; font-family: 'Montserrat', sans-serif;">Reciclar nunca fue más
      fácil</h3>


    <div class="row center">
      <h5 class="header col s12 light" style=" text-align: center; font-size: 20px;">
        Nuestro proyecto esta altamente enfocado a ayudarte a reciclar, que puedas encontrar facilmente centros
        de acopio cercanos a ti.
      </h5>
    </div>
  </div>
</div>



<div class="container">
  <div class="section">
    <div class="row">
      <table class="highlight responsive-table">
        <tbody>
          <tr width="100%">
            <div class="col s12 m3 icon-block-wrapper">
              <div class="icon-block">
                <h2 class="center">
                  <i class="large material-icons" style="color: #5cf100;">warehouse</i>
                </h2>


                <h5 class="center">Centros de Acopio</h5>
                <p class="light">Aqui encontraras todos los centros de acopio que te puedas imaginar</p>
              </div>
            </div>

            <div class="col s12 m3 icon-block-wrapper">
              <div class="icon-block">
                <h2 class="center">
                  <i class="large material-icons" style="color: #5cf100;">directions_bus</i>
                </h2>

                <h5 class="center">Camiones</h5>
                <p class="light">Los camiones recolectores son fundamentales para un buen sistema de recolección.</p>
              </div>
            </div>

            <div class="col s12 m3 icon-block-wrapper">
              <div class="icon-block">
                <h2 class="center">
                  <i class="large material-icons" style="color: #5cf100;">directions</i>
                </h2>

                <h5 class="center">Rutas</h5>
                <p class="light">Un sistema de rutas bien planificado reduce tiempos de traslado,
                  garantiza que los camiones cubran todas las áreas.</p>
              </div>
            </div>

            <div class="col s12 m3 icon-block-wrapper">
              <div class="icon-block">
                <h2 class="center">
                  <i class="large material-icons" style="color: #5cf100;">location_city</i>
                </h2>

                <h5 class="center">Municipios</h5>
                <p class="light">Encontraras un listado de los diferentes municipios que ya implementaron nuestra idea .
                </p>
              </div>
            </div>

            <div class="col s12 m3 icon-block-wrapper">
              <div class="icon-block">
                <h2 class="center">
                  <i class="large material-icons" style="color: #5cf100;">location_city</i>
                </h2>

                <h5 class="center">Usuarios</h5>
                <p class="light">Aqui los usuarios podran iniciar sesion.</p>
              </div>
            </div>

            <td>
              <h3>Hola</h3>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
<br><br>