
    .logo {
        font-size: 50px;
        /* Tamaño del icono */
        color: #43a047;
        /* Color verde del icono */
        text-align: center;
        /* Centrado */
        margin-bottom: 10px;
        /* Espacio debajo del icono */
    }
    
    .text-link a {
        color: #42a5f5;
        text-decoration: none;
    }

/*Ajustar el contenido dentro de la pagina*/

html, body {
    height: 100%;  /* Asegura que la altura de la página ocupe toda la ventana */
    margin: 0;     /* Elimina los márgenes predeterminados */
}


.container {
    display: flex;
    justify-content: center;  /* Centra horizontalmente*/
    align-items: center;      /* Centra verticalmente */
    height: 100vh;            /* Ocupa toda la altura de la ventana */
}

.btn{
    background-color: #007bff;
    color: white; /* Texto blanco */
    width: 100%; /* El botón ocupa el 100% del ancho */
    padding: 12px 0;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}


.btn-custom {
    font-size: 12px;  /* Tamaño de la fuente */
    padding: 5px 10px;  /* Ajuste del padding (espaciado interno) */
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Esto hace que el botón ocupe todo el ancho posible, si es necesario */
  }



/*agrega un borde a todos los elementos*/

.input-container {
    border: 2px solid black; /* Borde de 2px de color personalizado */
    border-radius: 10px; /* Bordes redondeados (opcional) */
    padding: 20px; /* Espaciado interno (opcional) */
    margin-top: 20px; /* Margen superior para separarlo de la parte superior */
    background-color: #fff; /* Fondo blanco (opcional, para más contraste) */
  }

.separator {
    margin-top: 30px; /* Espacio entre los campos y los enlaces */
    margin-bottom: 30px; /* Espacio adicional después de los enlaces */
}


/*Estilo de los links*/

.text-link {
    text-align: center; /* Centra los textos */
    margin: 10px 0; /* Espaciado entre los textos */
}

.text-link a {
  text-decoration: none; /* Elimina el subrayado */
  font-weight: bold; /* Negrita para los enlaces */
  font-size: 16px; /* Tamaño de la fuente */
  cursor: pointer;
}

.text-link a:hover {
    color: darkmagenta;
    text-decoration: underline;
}




/* Estilos para centrar el select */

.input-field select {
    display: block; /* Asegura que el select se comporte como bloque */
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 10px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados */
    margin-bottom: 10px; /* Espacio inferior */
  }

/* Estilo para el contenedor del select (si es necesario) */
.input-field {
    margin-bottom: 20px; /* Espacio inferior después del select */
  }

  .custom-select {
    text-indent: 20px; /* Mueve el texto dentro del select 20px a la derecha */
  }
  
  /* Negritas para el titulo */
  .title-bold {
    font-weight: bold; /* Aplica negritas */
  }
  
  .green-icon {
    color: #43a047 !important; /* Cambia el color de los íconos */
  }
  