body{
	background-image: url("fonfo.jpg");
	background-size: cover;
	background-repeat: no repeat;
	background-position: center center;
  	background-attachment: fixed;
}
.introduccion{
	font-family:Godzilla, Showcard Gothic;
	color: #D3FBFE;
	text-shadow: 15px 15px #1C0257;
	font-size: 8em;
	text-align: center;
}
div{
	border: 5px solid #33005F;
	text-align: justify;
	font-family: Comic Sans MS;
	font-size: 20px;
	color: #D3FBFE;
	padding: 15px 15px;
	width: 80%;
	background-color: rgba(0,7,32,1.0);
	margin: auto;
}
h2{
	font-family:The Lost Dungeon, Stencil;
	color: #D3FBFE;
	text-shadow: 15px 15px #1C0257;
	font-size: 2.5em;
	text-align: center;
}
.izquierda{
	border: 5px solid #1C0257;
	background-color: #D3FBFE;
	border-radius: 12px;
	font-size: 2em;
	float: left;
}
.derecha{
	border: 5px solid #1C0257;
	background-color: #D3FBFE;
	border-radius: 12px;
	font-size: 2em;
	float: right;
}