<nav>
  <div class="nav-wrapper gradient-bg">
    <a routerLink="inicio" class="brand-logo">
      <span class="logo-part-1">Reciclaje</span>
      <span class="logo-part-2">Hub</span>
    </a>

    <!-- Botón para el menú móvil -->
    <a href="#" data-target="mobile-menu" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>

    <!-- Menú de escritorio -->
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a routerLink="municipios" routerLinkActive="active" class="nav-link gradient-text2">
          <i class="material-icons">location_city</i> Municipios
        </a>
      </li>
      <li>
        <a routerLink="sesion" routerLinkActive="active" class="nav-link gradient-text2">
          <i class="material-icons">login</i>
        </a>
      </li>


    </ul>
  </div>
</nav>

